@import '../Variables//Variables.scss';

nav{    
    position: fixed;
    height: 60px;
    width : 100vw;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items:center;
    background-color: $tealColor; 
    // padding-right: 20px;
    padding-inline: 10px;
    font-size: 1rem;
    z-index: 999;       

    .logo{
        display: flex;
        align-items: center;
        img{
            width: 45px;
            height: 45px;
            border-radius: 50%;
        }        
    }

    a{
        text-decoration: none;      
    }
    a:hover{
        color: $whiteColor;        
    }

}
