
.post-form{
    display: flex;
    flex-direction: column;
    width: 100%; 
    input{
        font-size: large;
        padding: 10px;
        margin: 2px;
        border-radius: 1px solid teal ;
    }
    .post-form-buttons{
        display: flex;
        justify-content: space-between;
        margin-top: 3px;
    }
}